{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div>
    <div class="logo"></div>
    <div class="box_container">
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="#"><div class="box-title">Solicitação <br> de <br> Compras </div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="#"><div class="box-title">Cadernos <br> Técnicos</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="#"><div class="box-title">Termos <br> de <br> Garantia</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="#"><div class="box-title">Memorial <br> de <br> Cálculo</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="#"><div class="box-title">Logística</div></a>
          <div class="box-title"></div>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="#"><div class="box-title">Histórico <br> de <br> Compras</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="#"><div class="box-title">Tabela <br> de <br> Preços</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="#"><div class="box-title">Romaneio</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="#"><div class="box-title">Status <br> de <br> Compra</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-float">
    <a href="https://instagram.com/" target="_blank" class="btn-float"><i class="fab fa-whatsapp"></i></a>
  </div>
  {% include 'app/TheNavigationBar.html' %}
</div>
{% endblock %}
