{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div>
    <div class="logo"></div>
    <div class="box_container">
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for e in corpo_prova %}
            <a href="{{e.argamassa}}"><div class="box-title">Argamassa P/ Alvenaria Estrutural</div></a>
          {% endfor %}
  

        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for e in corpo_prova %}
          <a href="{{e.corpo_de_prova}}"><div class="box-title">Corpos de Prova</div></a>
        {% endfor %}
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for e in corpo_prova %}
          <a href="{{e.asfalto}}"><div class="box-title">Asfalto</div></a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="btn-float">
    <a href="https://instagram.com/" target="_blank" class="btn-float"><i class="fab fa-whatsapp"></i></a>
  </div>
  {% include 'app/TheNavigationBar.html' %}
</div>
{% endblock %}
