{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div>
    <div class="logo"></div>
    <div class="box_container">
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for e in fisico_financeiro %}
            <a href="{{e.fisico_financeiro}}"><div class="box-title">Cliente e Gerência</div></a>
          {% endfor %}
  

        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for e in fisico_financeiro %}
          <a href="{{e.fisico_financeiro1}}"><div class="box-title">Eng Responsável e Gerência</div></a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="btn-float">
    <a href="https://instagram.com/" target="_blank" class="btn-float"><i class="fab fa-whatsapp"></i></a>
  </div>
  {% include 'app/TheNavigationBar.html' %}
</div>
{% endblock %}
