{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div>
    <div class="logo"></div>
    <div class="box_container">
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for h in hidraulico %}
            <a href="{{h.agua_fria}}"><div class="box-title">Agua Fria</div></a>
          {% endfor %}
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for h in hidraulico %}
          <a href="{{h.agua_quente}}"><div class="box-title">Agua Quente</div></a>
        {% endfor %}
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for h in hidraulico %}
          <a href="{{h.pluvial}}"><div class="box-title">Pluvial</div></a>
        {% endfor %}
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for h in hidraulico %}
          <a href="{{h.esgoto}}"><div class="box-title">Esgoto</div></a>
        {% endfor %}
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for h in hidraulico %}
          <a href="{{h.drenagem}}"><div class="box-title">Drenagem</div></a>
        {% endfor %}
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for h in hidraulico %}
          <a href="{{h.infraestrutura}}"><div class="box-title">Infraestrutura</div></a>
        {% endfor %}
          <div class="box-title"></div>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          {% for h in hidraulico %}
          <a href="{{h.reuso}}"><div class="box-title">Reuso/Cisterna</div></a>
        {% endfor %}
          <div class="box-title"></div>
        </div>
      </div>
  <div class="btn-float">
    <a href="https://instagram.com/" target="_blank" class="btn-float"><i class="fab fa-whatsapp"></i></a>
  </div>
  {% include 'app/TheNavigationBar.html' %}
</div>
{% endblock %}
