{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div>
    <div class="logo"></div>
    <div class="box_container">
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'preliminar' id %}"><div class="box-title">Preliminar <br> Cautelar</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'aterramento' id %}"><div class="box-title">Aterramento</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'sondagem' id %}"><div class="box-title">Sondagem Solo</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'arrancamento' id %}"><div class="box-title">Arrancamento</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'estanqueidade' id %}"><div class="box-title">Estanqueidade</div></a>
          <div class="box-title"></div>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'corpo_prova' id %}"><div class="box-title">Corpos de Prova</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-float">
    <a href="https://instagram.com/" target="_blank" class="btn-float"><i class="fab fa-whatsapp"></i></a>
  </div>
  {% include 'app/TheNavigationBar.html' %}
</div>
{% endblock %}
