{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div>
    <div class="logo"></div>
    <div class="box_container">

     
      {% for obra in obras %}
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-user-hard-hat"></i>
          </div>
          <a href="{% url 'documentacao-1' obra.id %}"><div class="box-title">{{obra.nome}}</div></a>
        </div>
      </div>

      {% endfor %}
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-plus"></i>
          </div>
          <a href="{% url 'criar_obra' %}"><div class="box-title">Adicionar obra</div></a>
        </div>
      </div>

    </div>
  </div>

  <div class="btn-float">
    <a href="https://instagram.com/" target="_blank" class="btn-float"><i class="fab fa-whatsapp"></i></a>
  </div>
  {% include 'app/TheNavigationBar.html' %}
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.modal');
  var instances = M.Modal.init(elems, options);
});
  
</script>

{% endblock %}
