{% extends 'app/base.html' %}
{% load static %}


{% block content %}
<div class="container">
	<div class="form">
		<div class="logo"></div>
	  <form method="GET">
		<h1 style="text-align: center;"> Planta</h1>

        <table >

            <tr>
				<th>URL</th>
                <th>Nome</th>
				<th>Data</th>
            </tr>
                {% for p in planta %}
                    <tr>
						<td width="20%"><a href="{{p.imagem_planta_baixa.url}}" target="_blank"><i class="fal fa-file"></i></a></td> 
                        <td>{{p.descricao_planta_baixa}}</td>
						<td>{{p.planta_data}}</td>
                    </tr>
					<tr>
						<td width="20%"><a href="{{p.imagem_planta_baixa1.url}}" target="_blank"><i class="fal fa-file"></i></a></td>
						<td>{{p.descricao_planta_baixa1}}</td> 
						<td>{{p.planta_data1}}</td>
					</tr>
                {% endfor %}
                </table>

	  </form>
	</div>	
</div>
<div class="box_container">
<div class="box">
	<div>
	  <div class="box_icon">
		<i class="fas fa-plus"></i>
	  </div>
	  <a href="{% url 'planta_baixa' id %}"><div class="box-title">Adicionar planta</div></a>
	</div>
  </div>

</div>



<script>
	setTimeout(()=> {
		const splashScreen = document.querySelector('.splash')
		splashScreen.style.opacity = 0
		splashScreen.style.height = 0
	}, 1000)
</script>
{% endblock %}