{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	<div class="form">
		<div class="logo"></div>
			<form action="{% url 'planta_baixa' id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
				<div class="add-carros">
				<h3>Imagens</h3>
				<button type="button" class="cta cta1" onclick="add_carro()"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar um imagens</button>
				<div id="form-carro">
				</div>
				<br>
				<input class="btn_filtrar_modal" type="submit" value="CADASTRAR">
				</div>

			

	  			


 			</form>

  <script src="{% static '/js/clientes.js' %}"></script>

	</div>
</div>


<script>
	setTimeout(()=> {
		const splashScreen = document.querySelector('.splash')
		splashScreen.style.opacity = 0
		splashScreen.style.height = 0
	}, 1000)
</script>
{% endblock %}