{% extends 'app/base.html' %}
{% load static %}


{% block content %}
<div class="container">
	<div class="form">
		<div class="logo"></div>
	  <form method="GET">
		<h1 style="text-align: center;"> Planta</h1>

		  
        <br>
        <button type="button" class="cta cta1" data-toggle="modal"
         data-target="#exampleModal">
          FILTRAR
        </button>

        <table>
          <tr>
            <th>Arquivo</th>
            <th>Descrição</th>
            <th class="form">Data</th>
          </tr>
          {% for i in img %}
            <tr>   
            <td width="20%"><a href="{{i.imagem.url}}" target="_blank"><i class="fal fa-file"></i></a></td>
            <td>{{i.descricao}}</td>
            <td >{{i.data}}</td>
            <td><i class="fa fa-pencil" aria-hidden="true" type="button" data-toggle="modal" data-target="#ModalDetail"></i></td>
            <td><a href="{% url 'remover_planta' id %}"><i type="button" class="fa fa-trash"></i></a></td>
            </tr>
          {% endfor %}
                </table>

          
                 </form>

                 <br>
                 <div class="box_container">
                 <div class="box">
                   <div>
                     <div class="box_icon">
                       <i class="fas fa-plus"></i>
                     </div>
                     <a href="{% url 'planta_baixa' id %}"><div class="box-title">Adicionar</div></a>
                   </div>
                 </div>
                  </div>
              </div>

    
  

<div class="modal fade" id="exampleModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background: rgba(68, 70, 79, 0.3)">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: rgba(114, 137, 218, 0.3)">
      <div class="modal-header">
        <h5 class="modal-title titulo_filtrar" id="exampleModalLabel" >FILTRAR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">DATAS</span>
        </button>
      </div>

 
      <div class="modal-body">
        <form action="{% url 'planta_imagens' id %}" method="GET">
			<label>Data inicial</label>
            <input  style="color: aliceblue;" type="date"  class="form-control" name="data_inicial">
            <br>
          <br>
          <input class="btn_filtrar_modal" type="submit" value="FILTRAR">
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="ModalDetail"  tabindex="-1" role="dialog" aria-labelledby="ModalDetailLabel" aria-hidden="true" style="background: rgba(68, 70, 79, 0.3)">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: rgba(114, 137, 218, 0.3)">
      <div class="modal-header">
        <h5 class="modal-title titulo_filtrar" id="ModalDetailLabel" >EDITAR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <form action="{% url 'planta_imagens' id %}" method="POST">{% csrf_token %}
			<label>Editar</label>
          <br>
          {{ form.as_p }}
          <br>
          <button type="submit">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/clientes.js' %}"></script>

<script>
	setTimeout(()=> {
		const splashScreen = document.querySelector('.splash')
		splashScreen.style.opacity = 0
		splashScreen.style.height = 0
	}, 1000)
</script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
	  var elems = document.querySelectorAll('.modal');
	  var instances = M.Modal.init(elems, options);
	});
	  
</script>
{% endblock %}