{% extends 'app/base.html' %}

{% block content %}
<div class="container">
	<div class="form">
		<div class="logo"></div>
	  <form method="POST">
		<a href="{% url 'planta_imagens' id %}" target="_blank" style="text-align: center;"><h1><i class="fa fa-file"></i> Ver Planta</h1></a>

		{% csrf_token %}
        <label>Descrição</label>
        <input  style="color: aliceblue;" type="text"  class="form-control" name="planta_url">
		<br>
		<br>
		<label>Data</label>
		<input  style="color: aliceblue;" type="date"  class="form-control" name="data_imagem">
		<br>
		<br>
		<label>Arquivo</label>
		<label  style="background-color: rgb(85, 86, 86); border-color:grey" for="fileupload" class="custom-file-upload"><i class="fal fa-file"></i> Escolha um Ficheiro</label>
		<input  type="file" id="fileupload" placeholder="Select file" name="imagem">
        <br>
		<button type="submit" class="cta cta1">Enviar</button>
	
		
	  </form>
	</div>

	
</div>


<script>
	setTimeout(()=> {
		const splashScreen = document.querySelector('.splash')
		splashScreen.style.opacity = 0
		splashScreen.style.height = 0
	}, 1000)
</script>
{% endblock %}