{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div>
    <div class="logo"></div>
    <div class="box_container">
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'instrucao_tecnica' id %}"><div class="box-title">Instrução Técnica <br> de <br> Serviços</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'ficha_verificacao' id %}"><div class="box-title">Ficha de Verificação <br> de <br> Serviços</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'indicador_produtividade' id %}"><div class="box-title">Indicador <br> de <br> Produtividade</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'previsao' id %}"><div class="box-title">Previsão do Tempo <br> Localidade <br> Histórico</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'checklist_visita' id %}"><div class="box-title">Checklist <br> Visita Técnica</div></a>
          <div class="box-title"></div>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'plano_macro' id %}"><div class="box-title">Plano <br> de <br> Ação Macro</div></a>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <a href="{% url 'plano_micro' id %}"><div class="box-title">Plano <br> de <br> Ação Micro</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-float">
    <a href="https://instagram.com/" target="_blank" class="btn-float"><i class="fab fa-whatsapp"></i></a>
  </div>
  {% include 'app/TheNavigationBar.html' %}
</div>
{% endblock %}
